<main>
  <section class="py-5 text-left container">
    <div class="row py-lg-5">
      <div class="col-lg-10 col-md-8 mx-1">
        <h1 class="fw-light">Editing Item</h1>
      </div>

      <%= render 'form', item: @item, locals: { updating: true } %>

    </div>
  </section>
</main>
